@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style:medium;
  /* color: #FFFFFF; */
  /* font-size: 12px; */
  font-weight: 500;

}

.primary-button {
  background-color: #4CAF4F;
  width: 134px;
  height: 37px;
  border-radius: 3px;
}